body {
    background-color: black;
    color: white;
}

.hide {
    display: none;
}

.show {
    display: block;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    text-align: center;
}